.skills__container {
    width: 100%;
    height: auto;
    display: flexbox;
    justify-content: center;
    margin-top: 10%;
}



.skills__title {
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 3rem;
    text-align: center;
    color: transparent;
    margin-left: 10%;
    margin-bottom: 0;
    text-shadow: 5px 5px 0px #07bccc,
        5px 5px 0px #e601c0,
        10px 10px 0px #e9019a,
        15px 15px 0px #f40468,
        25px 25px 5px #482896;
}

.television__container {
    width: 75vw;
    height: 80vh;
    background-color: #031321;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-left: 14%;
}

.television__frame {
    border: 2px solid white;
    box-shadow: inset 0 0 30px #572364, 0 0 30px, 0 0 50px #572364;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.television__frame__two {
    height: 80%;
    width: 90%;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
}

.left__side {
    height: calc(100% - 4px);
    width: calc((100% * 1/6) - 4px);
    border: 2px solid white;
    box-shadow: 0 0 30px, 0 0 50px #8A0063;

}

.left__side__square {
    height: calc(30% - 4px);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle__one {
    height: calc(80%);
    width: calc(80%);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #ff0080, 0 0 30px, 0 0 50px #ff0080;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__two {
    height: 60%;
    width: 60%;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #ff0080, 0 0 30px, 0 0 50px #ff0080;
    border-radius: 50%;
}

.left__side__rectangle {
    height: calc(10% - 4px);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__side__rectangle__two {
    height: 50%;
    width: 80%;
    border: 2px solid white;
    box-shadow: 0 0 20px #8A0063;
    position: relative;
}


.left__side__bluelines {
    height: calc(60% - 4px);
    border: 2px solid white;
    /* box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063; */
    text-align: center;
}

.description__container {
    align-items: flex-start;
}

.description__text {
    left: 5%;
    font-size: 15px;
    position: relative;

    color: #07bccc;
}


.screen__frame {
    height: 99%;
    width: calc((100%*4/6));
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    height: calc(80% - 4px);
    width: calc(85% - 4px);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #15f4EE, 0 0 30px, 0 0 50px #15f4EE;
    border-radius: 20%;
    position: relative;
    background-color: white;
    overflow: hidden;
    /* display: none; */
}

.skills__slider {
    margin-left: 25%;
    width: 550%;
    height: 100%;
    transform: translateX(calc(-100% * 0 / 4));
    transition: transform 0.5ms ease;
    z-index: -1;
}

.image__skill {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.second__img {
    margin-left: 2.5%;
    transform: translateX(calc(-100% * .77 / 4));
    transition: transform 0.5ms ease;
}

.third__img {
    margin-left: 3%;
    transform: translateX(calc(-100% * 1.7 / 4));
    transition: transform 0.5ms ease;
}

.fourth__img {
    margin-left: 5.5%;
    transform: translateX(calc(-100% * 2.74 / 4));
    transition: transform 0.5ms ease;
}

.right__side {
    height: calc(100% -4px);
    width: calc(100%*1/6);
    border-left: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
}

.right__side__square {
    height: calc(30% - 4px);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__side__rectangle {
    height: calc(10% - 4px);
    /* border: 2px solid white; */
    /* box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063; */
    display: flex;
    align-items: center;
}

.circle__rectangle {
    height: 80%;
    width: 20%;
    border: 2px solid #8A0063;
    /* box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063; */
    border-radius: 50%;
    margin: 0px 0px 0px 8%;
    color: white;
    background-color: #031321;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.change__channel {
    cursor: pointer;
    font-size: 1rem;

}

.change__channel:hover {
    color: #15f4EE;
}

.right__side__bluelines {
    height: calc(61% - 4px);
    border: 2px solid white;
    /* border-bottom: none; */
    /* box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063; */
}

.power__button {
    height: 75%;
    width: 75%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.power__button:hover {
    cursor: pointer;
}

.buttons__on {
    color: #07bccc;
}

.buttons__off {
    color: #572364;
}


.prendio {
    background-color: #031321;
}

.bluelines {
    width: calc(90% - 4px);
    /* border: 2px solid white; */
    /* box-shadow: inset 0 0 30px #031321, 0 0 30px, 0 0 50px #031321; */
    margin: 10% 0px 0px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__bluelines {
    background-color: rgba(0, 195, 255, 0);
    color: white;
    border: none;
    font-size: 9px;
}

button {
    position: relative;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    overflow: hidden;
    transition: 0.2s;
}

button:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.05s;
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    top: 0;
    left: -200%;
    width: 200%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

button:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

button:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

button span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

button:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

button span:nth-child(4) {
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}

.teamWork__image {
    border-radius: 75%;
}

.portfolio__weather {
    width: 100%;
    height: 107%;
}

.image__static {
    height: 120%;
    width: 120%;
}

.screen__off {
    height: 530px;
    width: 530px;
}

.tv__titles {
    margin: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.cell__container {
    display: none;
}

@media screen and (max-width: 1024px) {

    .cell__container {
        display: none;
    }

    .description__text {
        font-size: 14px;
    }

    .icons__wrapper {
        margin-left: 29%;
    }

    .skills__container {
        margin-top: 10%;
        text-align: center;

    }

    .skills__title {
        font-variation-settings: "wght" 900, "ital" 1;
        font-size: 3rem;
        text-align: center;
        color: transparent;
        margin-left: 10%;
        margin-bottom: 5%;
        text-shadow: 5px 5px 0px #07bccc,
            5px 5px 0px #e601c0,
            10px 10px 0px #e9019a,
            15px 15px 0px #f40468,
            25px 25px 5px #482896;
    }

    .description__text {
        font-size: 10px;
        padding-right: 15%;
        padding-left: 5%;
        margin-top: 15%;
    }

    .image__static {
        height: 120%;
        width: 120%;
    }

    .screen__off {
        height: 350px;
        width: 350px;
    }

    .button__bluelines {
        background-color: rgba(0, 195, 255, 0);
        color: white;
        border: none;
    }

    button {
        padding: 10px 10px 10px 10px;
        font-size: 75%;
    }
}

@media screen and (max-width: 768px) {
    .skills__container{
        margin-top: 15%;
    }

    .screen__off {
        height: 260px;
        width: 260px;
    }

    .cell__container {
        display: none;
    }
    
    .button__bluelines{
        padding-left: 5px;
        font-size: 8px;
    }
    
    div p{
        font-size: 12px;
    }

}



@media screen and (max-width: 426px) {


    .icons__wrapper {
        margin-left: 24%;
    }

    .television__container {
        display: none;
    }

    .skills__container {
        align-items: flex-start;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;
        height: auto;
    }

    .skills__title {
        margin: 0;
        margin-top: 20%;
        display: inline-block;
        margin-right: 5%;

    }

    .cell__container {
        width: 250px;
        height: 350px;
        background-color: #031321;
        border: 1px white solid;
        box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
        display: block;
        margin: auto;
        margin-top: 10%;
        align-items: flex-end;
        justify-content: center;
        border-radius: 10%;
        max-width: 100%;
    }

    .cell__audio {
        display: block;
        width: 50px;
        height: 10px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid white;
        box-shadow: inset 0 0 30px #8a0063, 0 0 30px, 0 0 50px #8a0063;
    }

    .cell__screen {
        width: 80%;
        height: 80%;
        margin: auto;
        display: block;
        position: relative;
        overflow: scroll;
    }

    .menu__cell__screen {
        background-color: #4abfca;
    }

    .images__cell__screen {
        background-color: white;
    }

    .cell__titles {
        color: #07bccc;
        justify-content: center;
        font-size: 25px;
        font-variation-settings: "wght" 900, "ital" 1;
        text-align: center;
        margin-bottom: 0;
        text-shadow:
            1px 1px 0px #e601c0;
    }

    .cell__description__text {
        color: black;
        position: absolute;
        top: 90%;
        padding:10px 5px 10px 5px;
        font-family: 'Inconsolata', monospace;
        background-color: #4abfca;
        display: flex;
        min-width: 0px;
        padding:0px 0px 0px 0px;
        
    }

    .buttons__container {
        width: 60%;
        margin: auto;
    }

    .cell__power__button {
        margin-left: 10%;
        margin-right: 10%;
        padding: 5px 5px 5px 5px;
        margin-top: 5%;
        border-radius: 50%;
        background-color: #031321;
        color: #8a0063;
        box-shadow: inset 0 0 30px #031321, 0 0 30px, 0 0 50px;
    }

    .cell__button {
        width: 40px;
        background-color: #031321;
        height: 17px;
        padding: 0px;
        box-shadow: inset 0 0 30px #031321, 0 0 30px, 0 0 50px #8a0063;
        color: #8A0063;
        cursor: pointer;
    }

    .right__side__bluelines {
        height: auto;
        width: 88%;
        border: none;
        margin: auto;
    }

    .screen__off {
        height: 280px;
        width: 280px;
        margin-left: -20%;
    }

    .cell__categories__on {
        display: flex;
    }

    .cell__categories__off {
        display: none;
    }

    .button__bluelines {
        color: black;
        padding: 10px 0px 0px 0px;
    }

    .bluelines {
        display: inline-block;
        width: 84px;
        margin: 20px 0px 0px 0px;
    }

    .cell__app__text {
        color: black;
        margin-top: 25%;
        font-family: 'Silkscreen', cursive;      
        font-size: .7rem;
    }

    .cell__contact {
        margin-top: 5%;
        margin-left: 4%;
    }

    .skills__text {
        margin-top: 42%;
    }

    .contact__text {
        margin-top: 31%;
    }


    .hidden{
        display: none;
    }

    .form input{
        border-radius: 10px;
        border: 1px solid white;
        background-color: #e8e7e750;
        outline: none;
        font-family: 'Silkscreen', cursive;
    }
    
    .form{
        display:flex;
        justify-content: center;
        flex-direction: column;
        padding: 1rem 1rem;  
        font-family: 'Silkscreen', cursive;      
    }

    .message{
        border-radius: 10px;
        border: 1px solid white;
        background-color: #e8e7e750;
        outline: none;
        font-family: 'Silkscreen', cursive;      

    }
    
    .form__button{
        margin-top: 10px;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #e8e7e7c8;
    }

    .form label{
        margin: 0px 0px 10px 0px;
        
    }

}
@media screen and (max-width: 426px) {
    .skills__container{
        margin-top: 15%;
    }
}
