.skills__container {
    width: 90vw;
    height: 250px;
    display: flexbox;
    justify-content: center;
}



.skills__tittle {
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 3rem;
    text-align: center;
    color: transparent;
    margin-left: 10%;
    margin-bottom: 0;
    text-shadow: 5px 5px 0px #07bccc,
        5px 5px 0px #e601c0,
        10px 10px 0px #e9019a,
        15px 15px 0px #f40468,
        25px 25px 5px #482896;
}

.television__container {
    width: 75vw;
    height: 80vh;
    background-color: #031321;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-left: 14%;
}

.television__frame {
    border: 2px solid white;
    box-shadow: inset 0 0 30px #572364, 0 0 30px, 0 0 50px #572364;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.television__frame__two {
    height: 80%;
    width: 90%;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
}

.left__side {
    height: calc(100% - 4px);
    width: calc((100% * 1/6) - 4px);
    border: 2px solid white;
    box-shadow: 0 0 30px, 0 0 50px #8A0063;

}

.left__side__square {
    height: calc(30% - 4px);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle__one {
    height: calc(80%);
    width: calc(80%);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #ff0080, 0 0 30px, 0 0 50px #ff0080;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle__two {
    height: 60%;
    width: 60%;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #ff0080, 0 0 30px, 0 0 50px #ff0080;
    border-radius: 50%;
}

.left__side__rectangle {
    height: calc(10% - 4px);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left__side__rectangle__two {
    height: 50%;
    width: 80%;
    border: 2px solid white;
    box-shadow: 0 0 20px #8A0063;
    position: relative;
}


.left__side__bluelines {
    height: calc(60% - 4px);
    border: 2px solid white;
    /* box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063; */
    text-align: center;
}
.description__text{
    left: 5%;
    font-size:17px;
    position: relative;
    top: 10px;
    color: #07bccc;
}


.screen__frame {
    height: 99%;
    width: calc((100%*4/6));
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    height: calc(80% - 4px);
    width: calc(85% - 4px);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #15f4EE, 0 0 30px, 0 0 50px #15f4EE;
    border-radius: 20%;
    position: relative;
    background-color: white;
    overflow: hidden;
    /* display: none; */
}

.skills__slider {
    margin-left: 25%;
    width: 550%;
    height: 100%;
    transform: translateX(calc(-100% * 0 / 4));
    transition: transform 0.5ms ease;
    z-index: -1;
}

.image__skill {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.second__img {
    margin-left: 2.5%;
    transform: translateX(calc(-100% * .77 / 4));
    transition: transform 0.5ms ease;
}

.third__img {
    margin-left: 3%;
    transform: translateX(calc(-100% * 1.7 / 4));
    transition: transform 0.5ms ease;
}

.fourth__img {
    margin-left: 5.5%;
    transform: translateX(calc(-100% * 2.74 / 4));
    transition: transform 0.5ms ease;
}

.right__side {
    height: calc(100% -4px);
    width: calc(100%*1/6);
    border-left: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
}

.right__side__square {
    height: calc(30% - 4px);
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right__side__rectangle {
    height: calc(10% - 4px);
    /* border: 2px solid white; */
    /* box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063; */
    display: flex;
    align-items: center;
}

.circle__rectangle {
    height: 80%;
    width: 20%;
    border: 2px solid #8A0063;
    /* box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063; */
    border-radius: 50%;
    margin: 0px 0px 0px 8%;
    color: white;
    background-color: #031321;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change__channel {
    cursor: pointer;
    font-size:1rem;
    
}

.change__channel:hover {
    color: #15f4EE;
}

.right__side__bluelines {
    height: calc(60% - 4px);
    border: 2px solid white;
    /* box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063; */
}

.power__button{
    background-color: #f40468;    
    height: 75%;
    width: 75%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.power__button:hover{
    cursor: pointer;
}

.power__button__circle{
    background-color: black;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    display: flex;
    align-items:flex-end; 
    justify-content: center;

}



.power__button__rectangle{
    background-color: #f40468;
    width: 20%;
    height: 80%;
    border: 2px solid black;
    margin-bottom: 25%;
}

.prendio{
    background-color: #07bccc;
}

.bluelines {
    width: calc(90% - 4px);
    /* border: 2px solid white; */
    /* box-shadow: inset 0 0 30px #031321, 0 0 30px, 0 0 50px #031321; */
    margin: 10% 0px 0px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__bluelines {
    background-color: rgba(0, 195, 255, 0);
    color: white;
    border: none;
}

button {
    position: relative;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    overflow: hidden;
    transition: 0.2s;
}

button:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}

button span {
    position: absolute;
    display: block;
}

button span:nth-child(1) {
    top: 0;
    left: -200%;
    width: 200%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

button:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}

button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

button:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

button span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

button:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

button span:nth-child(4) {
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

button:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: .75s;
}

.teamWork__image{
    border-radius: 75%;
}

.portfolio__weather{
    width: 100%;
    height: 107%;
}

.image__static{
    height: 120%;
    width: 120%;
}

.screen__off{
    height: 530px;
    width:  530px;
}

.tv__titles{
    margin:0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
}