.about__me{
    width: 100%;
    background-color: aliceblue;
    height: 90vh;
    flex-wrap: wrap;
    display: flex;
}

.tunnel__container{ 
    overflow: hidden; 
    width: 65%; 
    height: 90vh;
    background-color: #031321;
    align-items: center;
    display: flex;
    justify-content: center;
}

.frame__one{
    width: 45%;
    height: 75vh;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 4000ms infinite;
}

.frame__two{
        width: 85%;
        height: 70vh;
        border: 2px solid white;
        box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: move 4000ms infinite;
}

.frame__three{
        width: 85%;
        height: 65vh;
        border: 2px solid white;
        box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
        animation: move 4000ms infinite;
        display: flex;
        align-items: center;
        justify-content: center;
}

.frame__four{
    width: 85%;
    height: 60vh;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 4000ms infinite;
}

.frame__five{
    width: 85%;
    height: 55vh;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    animation: move 4000ms infinite;
}

@keyframes move {
    0%{
        transition-delay: .25s;
        transform:rotate(0deg) 
    }
    25%{
        transition-delay: 1.8s;
        transform: rotate(-10deg) ;
    }
    50%{
        transition-delay: 1.8s;
        transform: rotate(10deg);
    }
    100%{
        transition-delay: .25s;
        transform: rotate(0deg);
    }
}

.description__container{  
    width: 35%; 
    height: 90vh;
    background-color: #031321;
    color:#8A0063;
    text-align: center;
    justify-content: center;
}

#text{
    width: 80%;
    height: 80%;
    stroke-dasharray: 529;
    stroke-dashoffset: 0;
    animation: 2s fillSvg linear;
   
}

@keyframes fillSvg {
    0%{
        stroke-dashoffset: 529;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.name{
    color:white;
    animation: 2.8s brigthName ease-in;
    text-shadow: 0px 0px 10px #15f4EE, 0px 0px 30px #15f4EE;
    font-size: 1.5rem;
    padding: 0;
    margin-top: 7rem;
    margin-bottom: 2rem;
    margin-right: 20px; 
}

p{
    display: flex;
    font-size: large ;
    margin-right: 20px;
    font-family: 'Inconsolata', monospace;
    color: white;
}

@keyframes brigthName {
    0%{
        color: #8a006300;
    }
    33%{
        color: #031321;
    }
    66%{
        color: #15f4EE;
        text-shadow: 0 0 35px white;
    }
    100%{
        color: white;
        text-shadow: 0px 0px 10px #15f4EE, 0px 0px 30px #15f4EE;
    }
}

.icons__wrapper{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    color: white;
}
.icon{
    display: inline-block;
    font-size: 5rem;
    animation: float 2s ease-in-out infinite;
  
}

.fa-linkedin{
    animation-delay: 1s;
  
}

.fa-twitter{
    animation-delay: 2s;
   
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
        text-shadow: 0px 0px 15px #8A0063;
    }
    50%{
        transform: translateY(-15px);
        text-shadow: 0px 0px 10px #15f4EE;
    }
}