.about__me{
    width: 100%;
    background-color: #031321;
    flex-wrap: wrap;
    display: flex;
}

.tunnel__container{ 
    overflow: hidden; 
    width: 60%; 
    height: 90vh;
    background-color: #031321;
    align-items: center;
    display: flex;
    justify-content: center;
}

.frame__one{
    width: 45%;
    height: 75vh;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 4000ms ;
}

.frame__two{
        width: 85%;
        height: 70vh;
        border: 2px solid white;
        box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: move 4000ms ;
}

.frame__three{
        width: 85%;
        height: 65vh;
        border: 2px solid white;
        box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
        animation: move 4000ms ;
        display: flex;
        align-items: center;
        justify-content: center;
}

.frame__four{
    width: 85%;
    height: 60vh;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 4000ms ;
}

.frame__five{
    width: 85%;
    height: 55vh;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    animation: move 4000ms ;
}

.profile__picture{
    max-width: 100%;
    max-height: 100%;
}

@keyframes move {
    0%{
        transition-delay: .25s;
        transform:rotate(0deg) 
    }
    25%{
        transition-delay: 1.8s;
        transform: rotate(-10deg) ;
    }
    50%{
        transition-delay: 1.8s;
        transform: rotate(10deg);
    }
    100%{
        transition-delay: .25s;
        transform: rotate(0deg);
    }
}

.description__container{  
    width: 35%; 
    height: 90vh;
    background-color: #031321;
    color:#8A0063;
    text-align: center;
    justify-content: center;
}

#text{
    width: 80%;
    height: 80%;
    stroke-dasharray: 529;
    stroke-dashoffset: 0;
    animation: 2s fillSvg linear;
   
}

@keyframes fillSvg {
    0%{
        stroke-dashoffset: 529;
    }
    100%{
        stroke-dashoffset: 0;
    }
}

.my__name{
    color:white;
    animation: 2.8s brigthName ease-in;
    text-shadow: 0px 0px 10px #15f4EE, 0px 0px 30px #15f4EE;
    font-size: 1.5rem;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 20px; 
}

p{
    display: flex;
    font-size: large ;
    margin-right: 20px;
    font-family: 'Inconsolata', monospace;
    color: white;
}

@keyframes brigthName {
    0%{
        color: #8a006300;
    }
    33%{
        color: black;
    }
    66%{
        color: #15f4EE;
        text-shadow: 0 0 35px white;
    }
    100%{
        color: white;
        text-shadow: 0px 0px 10px #15f4EE, 0px 0px 30px #15f4EE;
    }
}

.icons__wrapper{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 10%;
    color: white;
}

.icon{
    display: inline-block;
    font-size: 4rem;
    animation: float 2s ease-in-out infinite;
  
}

.fa-linkedin{
    animation-delay: 1s;
  
}

a i:hover{
transition-delay: none;
color: black;

}
@keyframes float {
    0%, 100%{
        transform: translateY(0);
        text-shadow: 0px 0px 15px #8A0063;
    }
    50%{
        transform: translateY(-15px);
        text-shadow: 0px 0px 10px #15f4EE;
    }
}
@media screen and (max-width: 1024px) {
    .my__name{
        margin-right: 0;
    }
    div p{
        font-size: 15px;
        margin: auto;
    }
    
    .icon{
        font-size: 3rem;
        margin-top: 10%;
    }

    .icons__wrapper{
        display: flex;
        width: 50%;
        justify-content:space-around;
        align-items: center;
        margin: auto;
        margin-top: 10%;
        color: white;
        animation: none;
    }

    .fa-linkedin{
        margin-left: 20%;
        margin-right: 20%;
    }

}

@media screen and (max-width: 768px) {
    .my__name{
        font-size: 2rem;
    }
    div p{
        font-size: 14px;
    }
    
    .icon{
        font-size: 2.5rem;
    }

    .icons__wrapper{
        margin-top: 5%;
    }
    

}

@media screen and (max-width: 426px) {
    .tunnel__container{ 
        overflow: visible; 
        width: 100%;
        height: 60vh;
    }
    
    .frame__one{
        height: 50vh;       
    }
    
    .frame__two{
            height: 45vh;
    }
    
    .frame__three{
            height: 40vh;
    }
    
    .frame__four{
        height: 35vh;    
    }
    
    .frame__five{
        height: 30vh;
    }
  
    .description__container{  
        width: 100%; 
        height: 90vh;
        background-color: #031321;
        color:#8A0063;
        text-align: center;
        justify-content: center;
    }

    .my__name{
        font-size: 1.5rem;
        padding: 0;
        margin-top: 3rem;  
    }
    
    .description{
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .icons__wrapper{
        display: flex;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-top: 10%;
        color: white;
    }
    
    .icon{
        display: inline-block;
        font-size: 4rem;
        animation: float 2s ease-in-out infinite;
      
    }
}