.about__me{
    width: 100%;
    background-color: aliceblue;
    height: 90vh;
}

.tunnel__container{  
    width: 50%; 
    height: 90vh;
    background-color: #031321;
    align-items: center;
    display: flex;
    justify-content: center;
}

.frame__one{
    width: 50%;
    height: 80vh;
    border: 2px solid white;
    box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: move 8000ms;
}

.frame__one:hover{
    animation: move 8000ms;
}

.frame__two{
        width: 80%;
        height: 70vh;
        border: 2px solid white;
        box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: move 8000ms;
}

/* .frame__two:hover{
    animation: move 8000ms
} */

.frame__three{
        width: 80%;
        height: 60vh;
        border: 2px solid white;
        box-shadow: inset 0 0 30px #8A0063, 0 0 30px, 0 0 50px #8A0063;
        animation: move 8000ms;
}
/* 
.frame__three:hover{
    animation: move 8000ms;
} */

@keyframes move {
    0%{
        transition-delay: 1.8s;
        transform:rotate(0deg) 
    }
    25%{
        transition-delay: 1.8s;
        transform: rotate(-10deg) ;
    }
    50%{
        transition-delay: 1.8s;
        transform: rotate(10deg);
    }
    100%{
        transition-delay: 1.8s;
        transform: rotate(0deg);
    }
}

@keyframes move__two {
    0%{
        transition-delay: 2s;
        transform:rotate(9deg);
    }
    25%{
        transition-delay: 2s;
        transform: rotate(-9deg) ;
    }
    50%{
        transition-delay: 2s;
        transform: rotate(20deg);
    }
    100%{
       transition-delay: 2s;
       transform: rotate(0deg);
    }
}

@keyframes move__three {
    0%{
        transition-delay: 2.2s;
        transform:rotate(10deg);
    }
    25%{
        transition-delay: 2.2s;
        transform: rotate(-10deg) ;
    }
    50%{
        transition-delay: 2.2s;
        transform: rotate(20deg);
    }
    100%{
       transition-delay: 2.2s;
       transform: rotate(0deg);
    }
}